.Login{
    background-color: #ededed;
    padding-top: 10vw;
    height: 100vh;
    width: 100%;
    .loginCard{
        margin: auto;
        min-width: 200px;
        width: 70vw;
        min-height: 70vh;
        border-radius: 2.778vw;
    }
}