.MainDate{
    margin-top: 11.019vw;
    font-size: 8.333vw;
    font-weight: 700;
    display: flex;
    letter-spacing:1.852vw;
    .leftDate{
        width: 32.593vw;
        margin-left: 6.667vw;
    }
    .rightDate{
        width: 46.944vw;
        margin-left: 5.093vw;
    }
}
