.MainDate{
    margin-top: 10.185vw;
    line-height: 8.796vw;
    font-size: 8.796vw;
    font-weight: 700;
    // display: flex;
    letter-spacing:1.389vw;
    .leftDate{
        float: left;
        // width: 32.593vw;
        margin-left: 6.667vw;
    }
    .rightDate{
        width: 46.944vw;
        margin-left: 44.352vw;
    }
    
}
