html,body{
  height: 100%;
}
#root{
  height: 100%;
}
.App{
  width: 100vw;
  /* height: 198.426vw; */
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
}

ul > li {
  list-style: none;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
